<%= form_tag({:controller => :alma_integrations, :action => :add_bibs}, {:class => "form-horizontal", :id => "post_bibs_form", :method => :post}) do |form| %>
  <input type="hidden" name="ref" value="<%= @results['ref'] %>"/>
  <input type="hidden" name="marc" value="<%= results['marc'] %>"/>
  <% unless results['mms'].nil? %>
    <input type="hidden" name="mms" value="<%= @results['mms'] %>"/>
  <% end %>
  <div class="form-group">
    <div class="controls">
      <%= submit_tag I18n.t("plugins.alma_integrations.actions.push"), :class => "btn btn-primary pull-right" %>
      <%= link_to "Edit Resource", {:controller => :resolver, :action => :resolve_edit, :uri => @results['ref']}, :class => "btn btn-cancel btn-default" %>
    </div>
  </div>
<% end %>
