<%
  existing_codes = results['holdings'].map{|h| h['code']}
%>

<section id="add_holdings" class="subrecord-form-dummy">
  <h3>Add New Holdings</h3>
  <div class="subrecord-form-container">
    <%= form_tag({:controller => :alma_integrations, :action => :add_holdings}, {:class => "form-horizontal", :id => "add_holdings_form", :method => :post}) do |f| %>
      <input type="hidden" name="mms" value="<%= @results['mms'] %>"/>
      <input type="hidden" name="id" value="<%= @results['id'] %>"/>
      <div class="subrecord-form-fields">
        <div class="new-holdings-container">
          <div class="form-group required">
            <label class="control-label col-sm-2" for="code">Location:</label>
            <div class="col-sm-8">
              <select name="code" class="form-control">
                <% @holdings.map{|s| s[1]}.each do |code| %>
                  <% unless existing_codes.include?(code) %>
                    <option value="<%= code %>"><%= I18n.t("plugins.alma_integrations.holdings.#{code}") %> (<%= code %>)</option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="controls">
            <%= submit_tag I18n.t("plugins.alma_integrations.actions.add"), :class => "btn btn-primary pull-right" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
