<%= form_tag({:controller => :alma_integrations, :action => :add_bibs}, {:class => "form-horizontal", :id => "post_bibs_form", :method => :post}) do |form| %>
  <input type="hidden" name="ref" value="<%= results['ref'] %>"/>
  <% unless results['mms'].nil? %>
    <input type="hidden" name="mms" value="<%= results['mms'] %>"/>
  <% end %>
  <div class="form-group">
    <% if results['mms'].nil? or !results['bib_found'] %>
      <%= submit_tag I18n.t("plugins.alma_integrations.actions.create"), :class => "btn btn-primary pull-right" %>
    <% else %>
      <%= submit_tag I18n.t("plugins.alma_integrations.actions.push"), :class => "btn btn-primary pull-right" %>
    <% end %>
  </div>
<% end %>
