<div class="add-bibs-container">
  <div class="row">
    <div class="col-md-6">
      <h4>ArchivesSpace record</h4>
      <pre class="pre-scrollable"><code><%= results['marc'] %></code></pre>
      <%= form_tag({:controller => :alma_integrations, :action => :add_bibs}, {:class => "form-horizontal", :id => "post_bibs_form", :method => :post}) do |form| %>
        <input type="hidden" name="ref" value="<%= @results['ref'] %>"/>
        <% unless results['mms'].nil? %>
          <input type="hidden" name="mms" value="<%= @results['mms'] %>"/>
        <% end %>
        <div class="form-group pull-right">
          <%= submit_tag I18n.t("plugins.alma_integrations.actions.push"), :class => "btn btn-primary" %>
          <%= link_to "Edit Resource", {:controller => :resolver, :action => :resolve_edit, :uri => @results['ref']}, :class => "btn btn-cancel btn-default" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <h4>Alma record</h4>
      <pre class="pre-scrollable"><code><%= results['alma'] %></code></pre>
    </div>
  </div>
</div>
