<div class="subrecord-form-dummy">
  <h3>Search Alma</h3>
  <div class="subrecord-form-container">
    <%= form_tag({:controller => :alma_integrations, :action => :search}, {:class => "form-horizontal", :id => "alma_integrations_form"}) do |f| %>
      <div class="form-group required">
        <label class="control-label col-sm-2" for="resource">Resource</label>
        <div class="controls col-sm-8">
          <%= render_aspace_partial :partial => "resource_linker" %>
        </div>
      </div>

      <div class="form-group required">
        <label class="col-sm-2 control-label" for="record_type">Record Type</label>
        <div class="col-sm-4">
          <select name="record_type" class="form-control">
            <option value="bibs"><%= I18n.t("plugins.alma_integrations.record_types.bibs") %></option>
            <option value="holdings"><%= I18n.t("plugins.alma_integrations.record_types.holdings") %></option>
            <option value="items"><%= I18n.t("plugins.alma_integrations.record_types.items") %></option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="controls">
          <%= submit_tag I18n.t("plugins.alma_integrations.actions.search"), :class => "btn btn-primary pull-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
