<% records = results['results'] %>

<div class="subrecord-form-dummy">
  <h3><%= I18n.t("plugins.alma_integrations.record_types.#{results['record_type']}") %> for <%= results['id'] %> <%= results['title'] %></h3>
  <div class="subrecord-form-container">
    <% if results['record_type'] == "bib" %>
      <%= render_aspace_partial :partial => "alma_integrations/add_bibs_form", :locals => { :results => results } %>
    <% elsif results['record_type'] == "holding" %>
      <% if records['holdings'].empty? || records['holdings'].nil? %>
        <p>No holdings were found.</p>
      <% else %>
        <p>Displaying <%= records['count'] %> record(s):</p>
        <table class="table table-striped table-bordered table-condensed table-hover table-search-results">
          <thead>
            <tr>
              <th><%= I18n.t("plugins.alma_integrations.labels.holdings_id") %></th>
              <th><%= I18n.t("plugins.alma_integrations.labels.location_code") %></th>
              <th><%= I18n.t("plugins.alma_integrations.labels.location_name") %></th>
            </tr>
          </thead>
          <tbody>
            <% records['holdings'].each do |holding| %>
              <tr>
                <td class="holdings-id"><%= holding['id'] %></td>
                <td class="holdings-location-code"><%= holding['code'] %></td>
                <td class="holdings-location-name"><%= holding['name'] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <section id="add_holdings" class="subrecord-form-dummy">
        <h3>Add New Holdings</h3>
        <div class="subrecord-form-container">
          <% if results['mms'].nil? %>
            <p>Holdings cannot be added without a BIB record</p>
          <% else %>
            <%= render_aspace_partial :partial => "add_holdings_form", :locals => {:results => results} %>
          <% end %>
        </div>
      </section>
    <% elsif results['record_type'] == "item" %>
      <% if records['items'].nil? || records['items'].empty? %>
        <p>No items found in Alma for this collection.</p>
      <% else %>
        <p>Displaying <%= records['items'].count %> of <%= records['count'] %> Items:</p>
        <table class="table table-striped table-bordered table-condensed table-hover table-search-results">
          <thead>
            <tr>
              <th>Item PID</th>
              <th>Barcode</th>
              <th>Description</th>
              <th>Location</th>
              <th>Alma Profile</th>
              <th>ArchivesSpace Profile</th>
              <th>Top Container URI</th>
            </tr>
          </thead>
          <tbody>
            <% records['items'].each do |item| %>
              <tr>
                <td class="item-pid"><%= item['pid'] %></td>
                <td class="item-barcode"><%= item['barcode'] %></td>
                <td class="item-description"><%= item['description'] %></td>
                <td class="item-location"><%= item['location'] %></td>
                <td class="item-alma-profile"><%= item['alma_profile'] %></td>
                <td class="item-aspace-profile"><%= item['as_profile'] %></td>
                <td class="item-top-container"><a href="<%= item['top_container'].gsub('/repositories/2','') %>"><%= item['top_container'] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
</div>
