<h2>Results for <%= results['id'] %> <%= results['title'] %></h2>

<section id="bibliographic_subrecord" class="subrecord-form-dummy">
  <h3>Bibliographic</h3>
  <div class="subrecord-form-container">
    <% if results['mms'].nil? %>
      <p>No MMS ID has been entered for this Resource. You may send a new MARC record for it to Alma.</p>
    <% else %>
      <% if results['bib_found'] %>
        <p>Record found. Would you like to push the ArchivesSpace data to Alma?</p>
      <% else %>
        <p>No BIB with this MMS ID exists in Alma. Is the MMS ID entered correctly in ArchivesSpace?</p>
      <% end %>
    <% end %>
    <%= render_aspace_partial :partial => "alma_integrations/add_bibs_form", :locals => {:results => results} %>
  </div>
</section>

<section id="holdings_subrecord" class="subrecord-form-dummy">
  <h3>Holdings</h3>
  <div class="subrecord-form-container">
    <% if results['mms'].nil? %>
      <p>Holdings cannot be located or added until a BIB record exists in Alma. Please add a BIB record using the form above.</p>
    <% elsif results['holdings'].nil? || results['holdings'].empty? %>
      <p>No holdings were found. You may add holdings in the form below.</p>
    <% else %>
      <p><%= results['holdings'].count %> Holdings location(s) found:</p>
      <table class="table table-striped table-bordered table-condensed table-hover table-search-results">
        <thead>
          <tr>
            <th><%= I18n.t("plugins.alma_integrations.labels.holdings_id") %></th>
            <th><%= I18n.t("plugins.alma_integrations.labels.location_code") %></th>
            <th><%= I18n.t("plugins.alma_integrations.labels.location_name") %></th>
            <th><%= I18n.t("plugins.alma_integrations.labels.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% results['holdings'].each do |holding| %>
            <tr>
              <td class="holdings-id"><%= holding['id'] %></td>
              <td class="holdings-location-code"><%= holding['code'] %></td>
              <td class="holdings-location-name"><%= holding['name'] %></td>
              <td class="holdings-actions">
                <div class="btn-group">
                  <a class="btn btn-xs btn-default" href="#">View</a>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% unless results['mms'].nil? %>
      <h4>Add New Holdings</h4>
      <%= render_aspace_partial :partial => "add_holdings_form", :locals => {:results => results} %>
    <% end %>
  </div>
</section>

<section id="items_subrecord" class="subrecord-form-dummy">
  <h3>Item Records</h3>
  <div id="items_subrecord_form" class="subrecord-form-container">
    <p>Nothing to display. When you select a Holdings record to view, its items will appear here.</p>
  </div>
</section>
