<%
  @results = results
  @holdings = results['results']
%>

<h2>Alma results for <%= results['id'] %> <%= results['title'] %></h2>

<section id="bib_results" class="subrecord-form-dummy">
  <h3>Bibliographic Record</h3>
  <div class="subrecord-form-container">
    <%= render_aspace_partial :partial => "alma_integrations/add_bibs_form", :locals => { :results => results } %>
  </div>
</section>

<section id="holdings_results" class="subrecord-form-dummy">
  <h3>Existing Holdings</h3>
  <div class="subrecord-form-container">
    <% if @holdings.empty? %>
      <p>No holdings were found.</p>
    <% else %>
      <p>Displaying <%= results['count'] %> Holdings record(s):</p>
      <table class="table table-striped table-bordered table-condensed table-hover table-search-results">
        <thead>
          <tr>
            <th><%= I18n.t("plugins.alma_integrations.labels.holdings_id") %></th>
            <th><%= I18n.t("plugins.alma_integrations.labels.location_code") %></th>
            <th><%= I18n.t("plugins.alma_integrations.labels.location_name") %></th>
          </tr>
        </thead>
        <tbody>
          <% @holdings.each do |holding| %>
            <tr>
              <td class="holdings-id"><%= holding['id'] %></td>
              <td class="holdings-location-code"><%= holding['code'] %></td>
              <td class="holdings-location-name"><%= holding['name'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</section>

<section id="add_holdings" class="subrecord-form-dummy">
  <h3>Add New Holdings</h3>
  <div class="subrecord-form-container">
    <% if results['mms'].nil? %>
      <p>Holdings cannot be added without a BIB record</p>
    <% else %>
      <%= render_aspace_partial :partial => "add_holdings_form", :locals => {:results => results} %>
    <% end %>
  </div>
</section>
